html,body{
	padding: 0;
	margin: 0;
	font-family: 'source sans pro',sans-serif;
	color:#494949;
}
.yellow{
	color: #f1c40f;
}
.border{
	border-bottom: 1px solid #c4c4c4;
}
.wrapper{
	width: 100%;
	.media{
		display: none;
	}
	header{
		width: 100%;
		.nav{
			width: 100%;
			ul{
				margin: 1rem 0;
				li{
					list-style: none;
					a{
						text-decoration: none;						
						display: inline-block;
						img{
							width: 2rem;
							display: inline-block;
							vertical-align: middle;
						}
						span{
							color:#e74c3c;
							display: inline-block;
							vertical-align: middle;
						}
					}
				}
			}
		}	
	}
	section{
		width: 100%;
		height: auto;
		margin: 2rem 0;
		&.header{
			.content{
				width: 80%;
				h1,h5{
					padding-left: 8rem;
					width: 580px;
				}
				h1{
					font-weight: lighter;				
					font-size: 2rem;
					strong{
						font-weight: bold;
					}
				}
				h5{
					font-size: 1.15rem;
					font-weight: 100;
				}
			}
		}
		&.banner-back{
			height: 25rem;
			position: relative;
			margin: 0;
			.background{
				background-image: url(../img/back.jpg);
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
				width: 100%;
				position: absolute;
				height: 100%;
				z-index: -1;
			}
			.content{
				position: relative;
				z-index: 1;
				width: 80%;
				h1,h4{
					padding-left: 3rem;
					width: 580px;
					margin-top:0;
					font-weight: 300;
				}
				h1{
					padding-top: 2rem;
					color:white;
					font-size: 2.5rem;
					strong{
						font-weight: 600;
					}
				}
				h4{
					color: white;
					font-size: 1rem;
				}
				input[type=text]{
					margin-left: 3rem;
					border-radius:5px;
					border:0;
					height: 2rem;
					width: 220px;	
					display: inline-block;
				}
				select{
					height: 2rem;
					width: 220px;	
				}
				button{
					height: 2rem;
					width: 100px;
					border-radius:5px;
					border:0;
					background: #e74c3c;
					color:white; 
				}
			}
		}
		.head{
			width:100%;
			i{
				padding-left: 10%;
				display: inline-block;
				width: 20px;
				color:#e74c3c;
			}
			h4{
				display: inline-block;
				font-weight: 600;
				&.left{
					padding-left: 11%;
				}
			}
		}
		.bubbles{
			width:100%;
			text-align: center;
			div{
				font-weight: 100;
				border-radius: 10px;
				cursor: pointer;
				background: white;
				color:#e74c3c;
				display: inline-block;
				padding: .3rem 1rem;
				margin: .15rem .7rem; 
				border: 1px solid #e74c3c;
				&.active{
					color:white;
					background:  #e74c3c;
				}
			}			
		}
		.body{
			width:100%;
			text-align: center;
			.row{
				display: inline-block;
				width: 100%;
				.item{
					color:#494949;
					text-decoration: none;
					display: inline-block;
					position: relative;
					width:300px;
					margin: 1rem;
					height: 300px;
					vertical-align: top;
					img{
						width: 100%;
						height: 190px;
						cursor:pointer;
					}
					.data{
						width: 100%;
						text-align: left;
						.title{
							width: 100%;							
							text-align: center;
						}
						.desc{
							width: 100%;
							padding: .3rem;
						    overflow:hidden;
						    white-space:nowrap;
						    text-overflow: ellipsis;
						}
						.price{
							width: 100%;
							padding: .3rem;
						}
					}
				}
			}	
		}
		&.footer{
			text-align: center;
			background-color: #393130;
			border: solid 1px #ebeaea;
			height: 8rem;
			margin: 0;
			img{
				width: 2rem;
				margin: 0;
				padding-top: .5rem;
				margin-bottom:.3rem;
			}
			.content{
				color:white;
				.title{
					width: 100%;
					text-align: center;
				}
			}
			.element{
				margin: .2rem 0;
				i{
					margin: .5rem;
					color:white;
				}
			}
		}
	}
}
@color_1: #ff480c;
@color_2: black;
@color_3: #303030;
@color_4: white;
@color_5: #ffffff;
@color_6: #505050;
@font_family_1: 'source sans pro';
@font_family_2: 'Source Sans Pro';
@font_family_3: 'Source sans pro';
@font_family_4: 'Source Sans Pro', sans-serif;
@background_color_1: white;
@background_color_2: #ff480c;
@background_color_3: #ebebeb;

/*actividad container*/
/* end actividad container*/
/*actividades*/
/*end actividades*/
/*footer container*/
/*footer*/
/*end mobile*/
/*slick*/
/*end slick */
/*footer*/
.wrapper{
	#r1 {
		width: 65%;
	}
	#r2 {
		width: 33%;
	}
	.f-left {
		float: left;
	}
	.f-rigth {
		float: right;
	}
	.r {
		position: relative;
		right: 8px;
	}
	.w3-animate-bottom {
		position: relative;
		animation: animatebottom 0.9s;
		transition: opacity 0.9s ease-in-out;
	}
	.top {
		margin-top: 0 !important;
		transition: all 1.5s ease-in-out;
	}
	.bottom {
		bottom: 37rem;
	}
	input[type="checkbox"] {
		cursor: pointer;
		-webkit-appearance: none;
		appearance: none;
		border-radius: 1px;
		box-sizing: border-box;
		position: relative;
		box-sizing: content-box;
		width: 10px;
		outline: 2px solid #c2c2c2;
		height: 10px;
		border-width: 0;
		transition: all .3s linear;
		top: 0.25rem;
	}
	.terms {
		font-family: @font_family_1;
		font-size: 0.8rem;
	}
	.terms-orange {
		color: @color_1;
		line-height: 2.67;
		letter-spacing: 0.5px;
	}
	.slick-prev {
		&:before {
			content: '<';
			color: @color_2;
			font-size: 2rem;
			font-weight: 800;
		}
	}
	.slick-next {
		&:before {
			content: '>';
			color: @color_2;
			font-size: 2rem;
			font-weight: 800;
		}
	}
	.mobile {
		display: none;
	}
	.nav-white {
		background-color: @background_color_1;
		-webkit-transition: background .8s ease-in-out;
		-moz-transition: background .8s ease-in-out;
		-ms-transition: background .8s ease-in-out;
		-o-transition: background .8s ease-in-out;
		transition: background .8s ease-in-out;
	}
	.fixed {
		position: fixed;
	}
	.box-map {
		height: 23rem;
		position: relative;
		margin-left: auto;
		width: 85%;
		border-bottom: 1px solid #c2c2c2;
		.title-map {
			position: relative;
			margin-left: auto;
			width: 92%;
			margin-top: 1rem;
			.title {
				font-size: 1rem;
				font-family: @font_family_1;
				color: @color_3;
				text-transform: uppercase;
				letter-spacing: .8px;
				font-weight: 600;
				text-transform: uppercase;
			}
			.cont {
				font-size: 1rem;
				font-family: @font_family_1;
				font-weight: 300;
				letter-spacing: .8px;
				color: @color_3;
			}
		}
		#map {
			// height: 255px;
			// position: relative;
			// margin-left: auto;
			// width: 85%;
			// border-bottom: 1px solid #c2c2c2;
			// margin-top: 1rem;
		}
	}
	.actividad-container {
		.table-actividad {
			width: 80%;
			text-align: left;
			display: inline-block;
			margin-left: -2rem;
			.actividad-row {
				width: 50%;
				display: inline-block;
				vertical-align: top;
				.descubre-actividad {
					height: 266px;
					position: relative;
					margin-left: auto;
					width: 85%;
					border-bottom: 1px solid #c2c2c2;
					.text {
						position: absolute;
						width: 100%;
						left: 50%;
						top: 50%;
						transform: translate(-50%, -50%);
						-webkit-transform: translate(-50%, -50%);
						h2 {
							margin: 1rem;
							text-transform: uppercase;
							font-family: @font_family_1;
							color: @color_3;
							line-height: 1.33;
							letter-spacing: 1.5px;
							font-weight: 400;
							margin-bottom: 0rem;
						}
						h4 {
							margin: 1rem;
							margin-top: -.2rem;
							text-transform: uppercase;
							font-family: @font_family_1;
							color: @color_3;
							line-height: 2;
							letter-spacing: 1px;
							font-weight: 300;
							font-size: .8rem;
							strong {
								font-weight: 400;
							}
						}
					}
					.icons {
						width: 100%;
						height: 50px;
						.box {
							width: 33.33%;
							height: 100%;
							display: inline-block;
							text-align: center;
							.ico-reloj {
								background-image: url(../img/reloj.png);
								width: 1.5rem;
								height: 1.5rem;
								background-position: center;
								display: inline-block;
								background-size: 100% 100%;
							}
							span {
								display: block;
								font-family: @font_family_1;
								font-weight: 300;
								letter-spacing: .5px;
								display: block;
								font-family: @font_family_1;
								font-weight: 300;
								letter-spacing: .5px;
								display: block;
								font-family: @font_family_1;
								font-weight: 300;
								letter-spacing: .5px;
							}
							.ico-locacion {
								background-image: url(../img/locacion.png);
								width: 1.5rem;
								height: 1.5rem;
								background-position: center;
								display: inline-block;
								background-size: 100% 100%;
							}
							.ico-personas {
								background-image: url(../img/personas.png);
								width: 2rem;
								height: 1.5rem;
								background-position: center;
								display: inline-block;
								background-size: 100% 100%;
							}
						}
					}
				}
				.lider-actividad {
					height: 19rem;
					position: relative;
					margin-left: auto;
					width: 85%;
					border-bottom: 1px solid #c2c2c2;
					.content {
						width: 100%;
						height: 100%;
						.languages {
							position: absolute;
							bottom: 2rem;
							left: 2.5rem;
							font-family: @font_family_1;
							margin-left: 1rem;
							.ico-mes {
								width: 1.5rem;
								height: 1.5rem;
								background-image: '';
								display: inline-block;
								position: relative;
								top: 0.4rem;
								right: 0.4rem;
								background-image: url('../img/language.png');
								background-repeat: no-repeat;
								background-position: center;
								background-size: 100% 100%;
								position: relative;
							}
							.len {
								display: inline-block;
								margin-left: 0.5rem;
								margin-right: 0.5rem;
							}
						}
					}
					.avatar {
						width: 30%;
						height: 100%;
						display: inline-block;
						position: relative;
					}
					.avatar-box {
						text-align: center;
						position: absolute;
						border-radius: 50%;
						left: 50%;
						top: 50%;
						transform: translate(-50%, -50%);
						-webkit-transform: translate(-50%, -50%);
						img {
							width: 6rem;
						}
						.name {
							margin-top: 1rem;
							font-family: @font_family_1;
							color: @color_3;
							text-transform: uppercase;
							font-size: .8rem;
							letter-spacing: 1px;
							font-weight: 400;
						}
					}
					.text {
						width: 70%;
						height: 100%;
						display: inline-block;
						position: relative;
						.text-box {
							position: absolute;
							border-radius: 50%;
							left: 50%;
							top: 50%;
							transform: translate(-50%, -50%);
							-webkit-transform: translate(-50%, -50%);
							width: 95%;
							.paragraph {
								font-size: 15px;
								font-family: @font_family_2;
								color: @color_3;
								font-weight: 300;
								line-height: 1.67;
								letter-spacing: 0.8px;
							}
							.languages {
								margin-top: 1rem;
								font-family: @font_family_2;
								color: @color_3;
								font-weight: 400;
								letter-spacing: .8px;
								.ico-mes {
									display: inline-block;
									width: 1.5rem;
									height: 1.5rem;
									background-image: url('../img/language.png');
									background-repeat: no-repeat;
									background-position: center;
									background-size: 100% 100%;
									position: relative;
									top: 0.4rem;
									margin-right: 0.4rem;
								}
								.len {
									display: inline-block;
								}
							}
						}
					}
				}
				.text-actividad {
					height: auto;
					position: relative;
					margin-left: auto;
					width: 85%;
					border-bottom: 1px solid #c2c2c2;
					.text-content {
						width: 92%;
						margin-left: auto;
						height: 100%;
						position: relative;
						border-bottom: solid 1px #c2c2c2;
						.box {
							width: 100%;
							position: absolute;
							border-radius: 50%;
							left: 50%;
							top: 50%;
							transform: translate(-50%, -50%);
							-webkit-transform: translate(-50%, -50%);
							.title {
								font-family: @font_family_1;
								text-transform: uppercase;
								font-weight: 600;
								letter-spacing: .8px;
								font-size: 1rem;
								color: @color_3;
							}
							.text {
								font-family: @font_family_1;
								font-weight: 300;
								letter-spacing: .8px;
								color: @color_3;
							}
						}
					}
				}
				.package {
					height: 16rem;
					position: relative;
					margin-left: auto;
					width: 85%;
					border-bottom: 1px solid #c2c2c2;
					.package-content {
						width: 100%;
						height: 100%;
						.head {
							width: 100%;
							height: 20%;
							position: relative;
						}
						.title {
							font-family: @font_family_1;
							text-transform: uppercase;
							font-weight: 600;
							letter-spacing: .8px;
							font-size: 1rem;
							color: @color_3;
							width: 92%;
							position: absolute;
							bottom: 0;
							right: 0;
							span {
								font-family: @font_family_1;
								color: @color_3;
								line-height: 0.8;
								letter-spacing: .8px;
								font-size: 1rem;
								font-weight: 600;
								text-transform: uppercase;
							}
						}
						.body {
							width: 100%;
							height: 80%;
							.text {
								width: 100%;
								height: 100%;
								ul {
									padding: 0;
									text-decoration: none;
									list-style: none;
									width: 80%;
									margin-left: auto;
									li {
										padding: .15rem;
										font-family: @font_family_1;
										color: @color_3;
										font-size: 1rem;
										font-weight: 300;
										letter-spacing: .8px;
									}
								}
							}
						}
					}
				}
				.notes {
					height: 170px;
					position: relative;
					margin-left: auto;
					width: 85%;
					border-bottom: 1px solid #c2c2c2;
					.notes-content {
						height: 100%;
						width: 100%;
						.head {
							height: 20%;
							width: 100%;
							position: relative;
							.title {
								width: 92%;
								position: absolute;
								bottom: 0;
								right: 0;
								span {
									font-family: @font_family_1;
									color: @color_3;
									text-transform: uppercase;
									letter-spacing: .8px;
									font-size: 1rem;
									font-weight: 600;
									text-transform: uppercase;
								}
							}
						}
						.body {
							height: 80%;
							width: 100%;
							position: relative;
							.text {
								width: 92%;
								position: absolute;
								right: 0;
								margin-top: 0.83rem;
								font-family: @font_family_1;
								color: @color_3;
								font-weight: 300;
								letter-spacing: .8px;
							}
						}
					}
				}
				.where {
					height: 19rem;
					position: relative;
					margin-left: auto;
					width: 85%;
					border-bottom: 1px solid #c2c2c2;
					.where-content {
						height: 100%;
						width: 100%;
						.head {
							height: 20%;
							width: 100%;
							position: relative;
							.title {
								width: 92%;
								position: absolute;
								bottom: 0;
								right: 0;
								span {
									font-size: 1rem;
									font-family: @font_family_1;
									color: @color_3;
									text-transform: uppercase;
									letter-spacing: .8px;
									font-weight: 600;
									text-transform: uppercase;
								}
							}
						}
						.body {
							height: 80%;
							width: 100%;
							position: relative;
							.text {
								width: 92%;
								position: absolute;
								right: 0;
								margin-top: 0.83rem;
								font-family: @font_family_1;
								color: @color_3;
								font-weight: 300;
								letter-spacing: .8px;
							}
						}
					}
				}
				.table {
					height: 230px;
					position: relative;
					margin-left: auto;
					font-weight: 300;
					letter-spacing: .8px;
					width: 78%;
					border-bottom: 1px solid #c2c2c2;
					font-family: @font_family_1;
					padding: 1rem 0rem;
					.row {
						width: 50%;
						display: inline-block;
						vertical-align: top;
						.cantidad {
							width: 100%;
							margin-top: 0.7rem;
							margin-bottom: 0.7rem;
							.operation {
								width: 100%;
								.num {
									width: 45%;
									display: inline-block;
								}
								.actions {
									width: 55%;
									display: inline-block;
									.mas {
										background-image: url('../img/mas.png');
										position: relative;
										top: 0.3rem;
										width: 1rem;
										height: 1rem;
										background-position: center;
										background-size: 100% 100%;
										display: inline-block;
										margin: 0 0.4rem;
										cursor: pointer;
									}
									.menos {
										background-image: url('../img/menos.png');
										position: relative;
										top: 0.3rem;
										width: 1rem;
										height: 1rem;
										background-position: center;
										background-size: 100% 100%;
										display: inline-block;
										margin: 0 0.4rem;
										cursor: pointer;
									}
								}
							}
						}
						ul {
							padding: 0;
						}
						.total {
							width: 100%;
							.coti {
								width: 100%;
								.precio {
									display: inline-block;
									width: 50%;
								}
								.precio-num {
									display: inline-block;
									width: 50%;
								}
							}
						}
					}
				}
			}
		}
		.actividad-row {
			.boximage {
				.image-back {
					// width: 400px;
					// height: 460px;
					width: 100%;
					background-image: url(http://img04.deviantart.net/8225/i/2012/239/8/8/the_legend_of_korra___anime_icon_by_devill_dante-d5cngac.png);
					height: 435px;
					background-size: cover;
					background-position: center;
					background-repeat: no-repeat;
				}
			}
			.box-info {
				width: 100%;
				.price {
					width: 100%;
					margin: 0.5rem 0;
					font-family: @font_family_1;
					text-align: center;
					.precio-static {
						display: inline-block;
					}
					.btn-coti {
						display: inline-block;
						width: 10rem;
						text-align: center;
						background-color: @background_color_2;
						color: @color_4;
						border-radius: 10px;
						cursor: pointer;
						text-decoration: none;
					}
					span {
						font-weight: 300;
						letter-spacing: .8px;
						strong {
							font-weight: 600;
							letter-spacing: .8px;
						}
					}
				}
				.table {
					width: 100%;
					.row {
						width: 50%;
						font-weight: 300;
						display: inline-block;
						vertical-align: top;
						.title {
							font-family: @font_family_1;
							color: @color_3;
						}
						.cantidad {
							width: 95%;
							height: 30px;
							border-bottom: 1px solid #c2c2c2;
							.operacion {
								width: 100%;
							}
							.num {
								width: 15%;
								display: inline-block;
							}
							.actions {
								width: 85%;
								display: inline-block;
							}
						}
						.total {
							width: 95%;
							height: 40px;
							.coti {
								margin-top: 0.8rem;
								width: 100%;
								height: 100%;
								text-align: center;
								text-transform: uppercase;
								.precio {
									width: 25%;
									display: inline-block;
									font-size: 1rem;
									font-family: @font_family_1;
								}
								.precio-num {
									width: 75%;
									font-size: 1rem;
									display: inline-block;
									font-weight: 600;
									font-family: @font_family_1;
								}
							}
						}
						ul {
							list-style: circle;
							padding: 0 1rem;
							color: @color_1;
						}
						.foot {
							font-family: @font_family_1;
							color: @color_1;
							line-height: 2;
							letter-spacing: 0.6px;
						}
						li {
							span {
								font-family: @font_family_3;
								color: @color_3;
							}
						}
					}
				}
			}
		}
	}
	.boximage {
		margin-top: 3.6rem;
		margin-left: 1.5rem;
		width: 90%;
		.box-img {
			width: 100%;
			height: 435px;
		}
	}
	.btn-activities {
		color: @color_4;
		border-radius: 10px;
		background-color: @background_color_2;
		width: 100%;
		height: 45px;
		border: 0;
		margin-top: 0.5rem;
	}
	.actividad-slick {
		.tall {
			min-height: 315px;
		}
	}
	.tall {
		margin: 0.2rem;
		display: inline-block;
		height: 100%;
		position: relative;
		width: 193px !important;
		margin: 0.55rem;
		.author-content {
			width: 100%;
			height: 32%;
			position: absolute;
			display: block;
			bottom: 2.5rem;
			.author {
				width: 32%;
				height: 50%;
				border-radius: 50%;
				background-repeat: no-repeat;
				background-size: 100% 100%;
				display: inline-block;
				position: relative;
			}
			.avatar {
				background-image: url('../../assets/destinos/avatar/avatar-4.png');
			}
			.avatar-2 {
				background-image: url('../../assets/destinos/avatar/avatar-1.png');
			}
			.avatar-3 {
				background-image: url('../../assets/destinos/avatar/avatar-2.png');
			}
			.avatar-4 {
				background-image: url('../../assets/destinos/avatar/avatar-3.png');
			}
			.author-text {
				width: 70%;
				height: 50%;
				display: inline-block;
				vertical-align: top;
				.title {
					font-weight: 300;
					font-family: @font_family_4;
					font-size: 1rem;
					line-height: 2.26;
					letter-spacing: .5px;
					text-align: center;
					top: -0.5rem;
					position: relative;
					color: @color_3;
				}
				.cont {
					font-family: @font_family_4;
					font-size: 0.9rem;
					font-weight: 300;
					position: relative;
					line-height: 1.37;
					letter-spacing: .9px;
					text-align: center;
					color: @color_3;
					top: -0.7rem;
				}
			}
		}
	}
	.text-2 {
		font-family: @font_family_4;
		display: block;
		font-size: 2rem;
		font-weight: 600;
		letter-spacing: 2.5px;
		text-align: center;
		color: @color_5;
		text-shadow: 0px 2px 65.7px rgba(0, 0, 0, 0.61);
	}
	.actividades {
		margin-top: 6rem;
		width: 100%;
		text-align: center;
		.group {
			display: none;
			width: 100%;
			.title {
				width: 80%;
				margin-bottom: 1rem;
				display: inline-block;
				font-family: @font_family_4;
				font-size: 20px;
				font-weight: 300;
				letter-spacing: .5px;
				line-height: 0.67;
				color: @color_3;
				text-transform: uppercase;
				font-size: 1.25rem;
			}
			.content {
				width: 60%;
				display: inline-block;
				font-family: @font_family_4;
				font-size: 1rem;
				font-weight: 200;
				line-height: 1.33;
				letter-spacing: .5px;
				color: @color_6;
				text-align: center;
				margin-bottom: 5rem;
			}
		}
		.art {
			width: 65%;
			height: 431px;
			display: inline-block;
			.art-1 {
				background-image: url('../../destino/markahuasi.png');
				background-size: 100% 100%;
				background-repeat: no-repeat;
				height: 68% !important;
			}
			.art-2 {
				background-image: url('../../destino/bicicle.png');
				background-size: 100% 100%;
				background-repeat: no-repeat;
				height: 68% !important;
			}
			.art-3 {
				background-image: url('../../destino/trekking.png');
				background-size: 100% 100%;
				background-repeat: no-repeat;
				height: 68% !important;
			}
			.art-4 {
				background-image: url('../../destino/flaca.png');
				background-size: 100% 100%;
				background-repeat: no-repeat;
				height: 68% !important;
			}
		}
	}
	.actividad-box {
		width: 100%;
	}
	.slick-list {
		height: 100%;
	}
	.slick-track {
		height: 100%;
	}
	.footer-container {
		width: 100%;
	}
	.cabeza {
		width: 100%;
		position: fixed;
		// position: absolute;
		text-align: center;
		z-index: 2;
		-webkit-transition: background .8s ease-in-out;
		-moz-transition: background .8s ease-in-out;
		-ms-transition: background .8s ease-in-out;
		-o-transition: background .8s ease-in-out;
		transition: background .8s ease-in-out;
		nav {
			min-height: 58px;
			ul {
				border-bottom: 1px solid #e6e6e6;
				height: 58px;
				margin: 0px 40px;
				font-size: 0;
				padding: 0;
				li {
					list-style: none;
					display: inline-block;
					vertical-align: top;
					position: relative;
					top: 16px;
					font-size: 16px;
					font-weight: 100;
					color: @color_3;
					letter-spacing: 1.2px;
					padding: 0px 3rem;
					text-transform: uppercase;
					font-family: @font_family_4;
					cursor: pointer;
					a {
						text-decoration: none;
						color: @color_3;
					}
				}
				li.menu {
					display: none !important;
				}
				li.left {
					float: left;
					top: 0 !important;
					padding: 0;
					text-transform: uppercase;
					img {
						width: 3rem;
						margin: 5px;
						height: 3rem;
						margin-left: -0.2rem;
					}
				}
				li.right {
					float: right;
					padding: 0;
					color: @color_1;
					text-transform: uppercase;
					font-family: @font_family_4;
					font-weight: normal !important;
				}
			}
		}
	}
	.color-orange {
		color: @color_1 !important;
	}
	.manki-name {
		font-weight: 600;
		line-height: 1.43;
		letter-spacing: 1.4px;
		color: @color_1 !important;
		font-family: @font_family_4;
		float: left;
		text-transform: uppercase;
		padding: 0 !important;
		font-weight: normal !important;
	}
	.mankifooter {
		width: 100%;
		height: 50px;
		background-color: @background_color_3;
		display: table;
		position: relative;
		.copy {
			font-family: @font_family_4;
			font-size: 0.9rem;
			font-weight: 300;
			letter-spacing: 1.2px;
			text-align: left;
			color: @color_6;
			display: table-cell;
			width: 30%;
			vertical-align: middle;
			padding-left: 1rem;
		}
		.manki {
			position: absolute;
			left: 50%;
			top: 50%;
			width: 35px;
			height: 35px;
			transform: translate(-50%, -50%);
			-webkit-transform: translate(-50%, -50%);
			background-image: url('../../logo-de-manki-orange.svg');
			background-size: 100% 100%;
			background-repeat: no-repeat;
		}
		.log {
			display: none;
		}
	}
	.bg {
		display: none;
	}
}
.actividad-container {
	width: 100%;
	text-align: center;
}
/* avitvity new*/ 
.width-100{
	width: 100%;
}
.no-pad{
	padding: 0;
}
.no-margin{
	margin: 0;
}
.tocenter{
	text-align: center;
}
.toright{
	text-align: right;
}
.toleft{
	text-align: left;
}
.inline{
	display: inline-block;
}
.bg-image{
	max-width: 250px;
	min-height: 350px;
}
.hour {
	background-image: url(../img/reloj.png);
	width: 1.5rem;
	height: 1.5rem;
	background-position: center;
	display: inline-block;
	background-size: 100% 100%;
}
.location{
	background-image: url(../img/locacion.png);
	width: 1.5rem;
	height: 1.5rem;
	background-position: center;
	display: inline-block;
	background-size: 100% 100%;
}
.people {
	background-image: url(../img/personas.png);
	width: 1.5rem;
	height: 1.5rem;
	background-position: center;
	display: inline-block;
	background-size: 100% 100%;
}
.m-botoom{
	margin-bottom: 0;
}
.m-top{
	margin-top: 0;
}
.new-title{
    font-size: 1rem;
    font-family: 'source sans pro';
    color: #303030;
    letter-spacing: .8px;
    font-weight: 600;
    text-transform: uppercase;
}
.spacing{
	margin: 1rem 0;
}
.block{
	display: block;
}
.new-button{
    display: inline-block;
    width: 8rem;
    text-align: center;
    background-color: #ff480c;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
}
#map{
	max-height: 265px;
	/* height: 265px; */
    position: relative;
    /* margin-left: auto; */
    /* width: 85%; */
    /* border-bottom: 1px solid #c2c2c2; */
    margin-top: 1rem;
}
@media only screen and (max-width: 500px) {
	.wrapper {
		section.header{
			.content{
				width: 80%;
				h1,h5{
					padding-left: 4rem;
					width: 100%;
				}
				h1{
					font-weight: lighter;				
					font-size: 2rem;
					strong{
						font-weight: bold;
					}
				}
				h5{
					font-size: 1.15rem;
					font-weight: 100;
				}
			}
		}
		section.banner-back {
			.content {
				h1{
					width: 100%;
					font-size: 1.4rem;
				}
				h4{
					width: 100%;
				}
				select{
					background: white;
					width: 222px;					
					margin: .4rem 0;
					margin-left: 3rem;
				}
				button{
					margin: .4rem 0;
					margin-left: 3rem;
				}
			}
		}
	}
	.wrapper {
		.fix {
			position: fixed;
			bottom: 0px;
			background: white;
			width: 100%;
			height: 4rem;
			z-index: 5;
		}
		.mobile {
			display: block;
			width: 100%;
			// height: 100%;
			.description {
				margin-top: 0.5rem;
				width: 100%;
				height: 100%;
				.price {
					width: 50%;
					display: inline-block;
					text-align: center;
					font-size: 1.3rem;
					margin-top: 1.5rem;
					font-family: @font_family_1;
					.precio-static {
						display: inline-block;
					}
					.btn-coti {
						display: inline-block;
					}
				}
				.button {
					width: 50%;
					display: inline-block;
					text-align: center;
					button {
						width: 158px;
						height: 37px;
						border-radius: 10px;
						background-color: @background_color_2;
						color: @color_4;
						border: 0;
						font-size: 1.4rem;
					}
				}
				.descubre {
					width: 100%;
					.title {
						margin: 0.5rem;
						span {
							margin-left: 2rem;
							font-family: @font_family_1;
						}
					}
					.content {
						margin: 0.5rem;
						span {
							margin-left: 2rem;
							font-family: @font_family_1;
							display: block;
						}
					}
				}
				.date {
					width: 100%;
					height: 4rem;
					margin-top: 2rem;
					.icons {
						width: 100%;
						height: 50px;
						.box {
							width: 33.33%;
							height: 100%;
							display: inline-block;
							text-align: center;
							.ico-reloj {
								background-image: url(../img/reloj.png);
								width: 1.5rem;
								height: 1.5rem;
								background-position: center;
								display: inline-block;
								background-size: 100% 100%;
							}
							.ico-locacion {
								background-image: url(../img/locacion.png);
								width: 1.5rem;
								height: 1.5rem;
								background-position: center;
								display: inline-block;
								background-size: 100% 100%;
							}
							.ico-personas {
								background-image: url(../img/personas.png);
								width: 1.5rem;
								height: 1.5rem;
								background-position: center;
								display: inline-block;
								background-size: 100% 100%;
							}
							span {
								display: block;
								font-family: @font_family_1;
								font-weight: 300;
								letter-spacing: .5px;
							}
						}
					}
				}
				hr {
					width: 80%;
				}
				.avatar-mobile {
					width: 100%;
					text-align: center;
					.circle-mobile {
						border-radius: 50%;
						width: 93.3px;
						height: 92.1px;
						display: inline-block;
						img {
							width: 100%;
							height: 100%;
						}
					}
					.content-mobile {
						width: 100%;
						span {
							display: inline-block;
							width: 90%;
							text-align: left;
							font-family: @font_family_1;
						}
					}
					.name-mobile {
						font-family: @font_family_1;
					}
					.idioma {
						// text-align: left;
						span {
							font-family: @font_family_1;
						}
					}
				}
				.notas-mobile {
					width: 100%;
					.title {
						width: 100%;
						span {
							width: 90%;
							margin-right: auto;
							margin-left: auto;
							display: block;
							text-transform: uppercase;
						}
					}
					.content {
						width: 100%;
						span {
							width: 90%;
							margin-right: auto;
							margin-left: auto;
							display: block;
							font-family: @font_family_1;
						}
					}
				}
			}
			.map-mobile {
				width: 100%;
				margin-top: 4rem;
				height: 100%;
				.content-map {
					width: 90%;
					margin-left: auto;
					margin-right: auto;
					.title {
						font-size: 1rem;
						text-transform: uppercase;
					}
					.content {
						font-family: @font_family_1;
					}
				}
				#map-mobile {
					width: 100%;
					height: 200px;
					margin: 2rem 0;
				}
			}
			.text-foot {
				width: 100%;
				.title {
					width: 90%;
					margin-left: auto;
					margin-right: auto;
					span {
						font-family: @font_family_1;
						text-transform: uppercase;
					}
				}
				.content {
					width: 90%;
					margin-left: auto;
					margin-right: auto;
					span {
						font-family: @font_family_1;
					}
				}
			}
			.provide-mobile {
				width: 100%;
				.title {
					font-family: @font_family_1;
					width: 90%;
					margin-left: auto;
					margin-right: auto;
				}
				.body {
					width: 100%;
					.text {
						width: 90%;
						margin-left: auto;
						ul {
							list-style: none;
							padding: 0;
							font-family: @font_family_1;
						}
					}
				}
			}
		}
		.bg {
			display: block;
			width: 100%;
			height: 100%;
			img {
				width: 100%;
				height: 100%;
			}
		}
		.actividades {
			margin-top: 2rem;
			.art {
				width: 100%;
				height: 330px;
				display: inline-block;
				.art-1 {
					width: 100%;
					margin: 0.55rem;
					display: inline-block;
					height: 195px !important;
					position: relative;
					background-image: url('../../destino/markahuasi.png');
					background-size: 100% 100%;
					background-repeat: no-repeat;
				}
				.art-2 {
					width: 100%;
					margin: 0.55rem;
					display: inline-block;
					height: 195px !important;
					position: relative;
					background-image: url('../../destino/bicicle.png');
					background-size: 100% 100%;
					background-repeat: no-repeat;
				}
				.art-3 {
					width: 100%;
					margin: 0.55rem;
					display: inline-block;
					height: 195px !important;
					position: relative;
					background-image: url('../../destino/trekking.png');
					background-size: 100% 100%;
					background-repeat: no-repeat;
				}
				.art-4 {
					width: 100%;
					margin: 0.55rem;
					display: inline-block;
					height: 195px !important;
					position: relative;
					background-image: url('../../destino/flaca.png');
					background-size: 100% 100%;
					background-repeat: no-repeat;
				}
			}
		}
		.actividad-container {
			display: none;
		}
		.actividad-box {
			width: 94%;
			display: inline-block;
		}
		.tall {
			width: 150px !important;
			margin-bottom: 0 !important;
			margin: 0.6rem;
			display: inline-block;
			height: 325px;
			position: relative;
			background-size: 100% 100%;
			background-repeat: no-repeat;
			.author-content {
				width: 100%;
				height: 30%;
				position: absolute;
				bottom: 4rem;
				margin: 0.1rem;
				display: block;
				.author {
					width: 35%;
					height: 75%;
					border-radius: 50%;
					background-repeat: no-repeat;
					background-size: 100% 100%;
					display: inline-block;
					position: relative;
					left: -0;
					display: inline-block;
				}
				.author-text {
					width: 100%;
					height: 100%;
					display: inline-block;
					vertical-align: top;
					display: block;
					.title {
						margin-top: 0;
						font-weight: 800;
						font-family: @font_family_4;
						font-size: 0.9rem;
						line-height: 2.26;
						letter-spacing: 1px;
						text-align: center;
						color: @color_3;
					}
					.cont {
						font-family: @font_family_4;
						font-size: 0.6rem;
						font-weight: 300;
						line-height: 1.47;
						letter-spacing: 0.8px;
						text-align: center;
						color: @color_3;
						width: 89%;
						display: inline-block;
					}
				}
			}
		}
		.avatar {
			background-image: url('../../destino/avatar-4.png');
		}
		.avatar-2 {
			background-image: url('../../destino/avatar-1.png');
		}
		.avatar-3 {
			background-image: url('../../destino/avatar-2.png');
		}
		.avatar-4 {
			background-image: url('../../destino/avatar-3.png');
		}
		.cabeza {
			width: 100%;
			position: fixed;
			text-align: center;
			z-index: 2;
			top: 0;
			nav {
				ul {
					border-bottom: 0;
					height: 58px;
					margin: 0px 1rem;
					font-size: 0;
					padding: 0;
					li {
						list-style: none;
						display: none;
						vertical-align: top;
						position: relative;
						top: 16px;
						font-size: 16px;
						color: @color_3;
						padding: 0px 3rem;
						text-transform: uppercase;
						font-family: @font_family_4;
					}
					li.menu {
						display: inline-block;
						top: 0;
						padding: 0;
						img {
							width: 3rem;
							height: 3rem;
							position: relative;
							top: 0.3rem;
						}
					}
					li.left {
						display: inline-block;
						float: left;
						top: 0 !important;
						padding: 0;
						text-transform: uppercase;
						img {
							width: 3rem;
							height: 3rem;
							position: relative;
							top: 0.3rem;
						}
					}
					li.right {
						display: inline-block;
						float: right;
						padding: 0;
						color: @color_1;
						text-transform: uppercase;
						font-family: @font_family_4;
					}
				}
			}
		}
		.mankifooter {
			.copy {
				font-family: @font_family_4;
				font-size: 0.9rem;
				font-weight: 300;
				display: block;
				letter-spacing: 1.2px;
				text-align: center;
				color: @color_6;
				width: 100%;
				padding-left: 0;
			}
			.manki {
				display: none;
			}
			.log {
				display: block;
				width: 100%;
				text-align: center;
				img {
					width: 35px;
					height: 35px;
				}
			}
		}
	}
	#actividades {
		.group {
			display: none;
		}
	}
	.mankifooter {
		width: 100%;
		height: 50px;
		background-color: @background_color_3;
		display: table;
		position: relative;
	}
}
@media (min-width:501px) and (max-width:745px){
	.wrapper {
		section.header{
			.content{
				width: 80%;
				h1,h5{
					padding-left: 4rem;
					width: 100%;
				}
				h1{
					font-weight: lighter;				
					font-size: 2rem;
					strong{
						font-weight: bold;
					}
				}
				h5{
					font-size: 1.15rem;
					font-weight: 100;
				}
			}
		}
		section.banner-back {
			.content {
				h1{
					width: 100%;
					font-size: 2rem;
				}
				h4{
					width: 100%;
				}
				select{
					background: white;
					width: 222px;					
					margin: .4rem 0;
					margin-left: 3rem;
					display: block;
				}
				button{
					margin: .4rem 0;
					margin-left: 3rem;
					display: block;
				}
			}
		}
	}
}
@media only screen and (min-width: 501px) and (max-width: 1023px) {
	.wrapper {
		.actividad-box {
			.art {
				width: 100%;
			}
		}
		#static {
			width: 300px;
			margin-top: 3.6rem;
			margin-left: 1.5rem;
			img {
				width: 100%;
				height: auto;
			}
		}
		.tall {
			margin: 0.2rem;
			display: inline-block;
			height: 100%;
			position: relative;
			width: 173px !important;
			margin: 0.55rem;
		}
	}
	.wrapper{ 
		#r1{
			display: block;
			width: 100%;
		}
		#r2{
			display: none;
			width: 100%;
		}
		.media{
			display: block;
			.box-img{
				.image-back{
					width: 100%;
				    background-image: url(http://img04.deviantart.net/8225/i/2012/239/8/8/the_legend_of_korra___anime_icon_by_devill_dante-d5cngac.png);
				    height: 435px;
				    background-size: cover;
				    background-position: center;
				    background-repeat: no-repeat;
				}
			}
		}
		.actividad-container {
			.table-actividad{ 
					.actividad-row {						
						.lider-actividad{
							height: 25rem;
						}
						.package{
							height: 20rem;
						}
						.where{
							height: 23rem;
						}
						#table{
							height: 315px;
						}
					}
				}
			}
		}
}
@media only screen and (min-width: 1024px) and (max-width: 1300px) {
	.wrapper {
		.actividades {
			.art {
				width: 85%;
				height: 431px;
				display: inline-block;
			}
		}
	}
}
@media only screen and (min-width: 1370px) {
	.wrapper {
		.boximage {
			margin-top: 3.6rem;
			margin-left: 6rem;
			width: 388px;
		}
		.actividad-container {
			.actividad-row {
				.boximage {
					img {
						width: 380px;
						height: 435px;
					}
				}
			}
		}
	}
}
